<div class="header-page">
  <div class="section-one d-flex justify-content-between align-items-center">
    <h2 class="title-page m-0">{{ title }}</h2>

    @if(showActions) {
    <div class="buttons-actions d-flex">
      @if(showActions!.add!.show) {
      <button
        type="button"
        [routerLink]="[showActions!.add!.link]"
        [routerLinkActive]="'active'"
        class="btn d-flex align-items-center button-color-blue button-with-icon"
      >
        <i class="pi pi-plus" style="margin-inline-end: 10px"></i>
        {{ showActions!.add!.label }}
      </button>
      } @if(showActions!.import!.show) {
      <button
        type="button"
        class="btn d-flex align-items-center button-color-gray button-with-icon"
      >
        <i class="pi pi-upload" style="margin-inline-end: 10px"></i>
        {{ showActions!.import!.label }}
      </button>
      }
    </div>
    }
  </div>

  @if(showFilteration) {
  <div class="filter-header d-flex flex-wrap align-items-center">
    <div class="content-tabs d-flex align-items-center">
      @if(showFilteration!.tabeOne!.show) {
      <div
        class="board d-flex align-items-center"
        [class.active]="isSwitchView"
        (click)="switchView.emit(true)"
      >
        <i class="pi pi-th-large" style="margin-inline-end: 5px"></i>
        {{ showFilteration!.tabeOne!.label }}
      </div>
      } @if(showFilteration!.tabeTwo!.show) {
      <div
        class="board d-flex align-items-center"
        [class.active]="!isSwitchView"
        (click)="switchView.emit(false)"
      >
        <i class="pi pi-bars" style="margin-inline-end: 5px"></i>
        {{ showFilteration!.tabeTwo!.label }}
      </div>
      }
    </div>

    @if(showFilteration!.search!.show) {
    <div class="search left-border">
      <span class="p-input-icon-left w-100 custom-input">
        <i class="pi pi-search"></i>
        <input
          type="text"
          class="w-100 leftPadding"
          [formControl]="searchControl"
          placeholder="{{ showFilteration.search.label }}"
          autocomplete="off"
        />
      </span>
    </div>
    } @if(dropdownList.length > 0) {
    <div class="contentDropdown d-flex flex-wrap">
      @for(dropdown of dropdownList; track $index; let i = $index; let isLast =
      $last) {
      <div class="dropdownList" [class.left-border]="isLast">
        <p-select
          [options]="dropdown.list"
          [(ngModel)]="dropdown.selected"
          (onChange)="onDropdownChange($event.value, i)"
          [optionLabel]="dropdown.optionLabel"
          [placeholder]="dropdown.label"
          class="w-full"
        ></p-select>
      </div>
      }
    </div>
    } @if(showFilteration!.year?.show) {
    <div class="year-filter left-border">
      <p-datepicker
        [formControl]="yearControl"
        view="year"
        dateFormat="yy"
        placeholder="Select Year"
        [showIcon]="true"
      ></p-datepicker>
    </div>
    }
  </div>
  }
</div>
