<app-header
  [isSwitchView]="switchView"
  [title]="'Entities Management'"
  [showFilteration]="showFilteration"
  [showActions]="showActions"
  [dropdownList]="dropdownList"
  (filtersChange)="onFiltersChange($event)"
  (switchView)="switchview($event)"
></app-header>
<div class="container-list">
  <div class="content-cards">
    <h4 class="title">Entities</h4>
    @if (switchView) { @defer (when switchView) {
    <app-board [filters]="filters"></app-board>
    } } @else { @defer (when !switchView) {
    <app-list [filters]="filters"></app-list>
    } }
  </div>
</div>
