<div class="container-fluid">
  <div class="card shadow-sm">
    <div class="card-header text-dark">
      <h5 class="mb-0">Add Audit Schedule</h5>
    </div>

    <div class="card-body mb-4">
      <form [formGroup]="auditForm">
        <!-- will be added in the edit screen -->
        <!-- Row 1: Title -->
        <div class="row mb-3">         
          <div class="col-md-6">
            <label for="title" class="form-label">
                Title<span class="text-danger">*</span>
            </label>
            <input
              id="title"
              type="text"
              class="form-control filter-search-input"
              placeholder="Enter title"
              formControlName="title"
            />
            <small
              class="text-danger"
              *ngIf="auditForm.get('title')?.invalid && auditForm.get('title')?.touched"
            >
              Audit item title is required
            </small>
          </div>
        </div>

        <!-- Row 2: Description -->
         <div class="d-flex justify-content-between w-100">
         <label for="resources" class="form-label">Key Activities<span class="text-danger">*</span></label>
          
         </div>
        <div formArrayName="keyActivities">
        <div *ngFor="let activity of keyActivities.controls; let i = index" [formGroupName]="i"
            class="row my-3 border border-1 border-dark rounded p-3">
          
          <div class="col-md-6">
            <label for="activityName-{{ i }}" class="form-label">Activity Name</label>
            <input
              id="activityName-{{ i }}"
              type="text"
              class="form-control"
              placeholder="Enter Activity Name"
              formControlName="activityName"
            />
            <small class="text-danger"
                  *ngIf="activity.get('activityName')?.invalid && activity.get('activityName')?.touched">
              Activity name is required
            </small>
          </div>

          <div class="col-md-6">
            <label for="description-{{ i }}" class="form-label">Description</label>
            <input
              id="description-{{ i }}"
              type="text"
              class="form-control"
              placeholder="Enter description"
              formControlName="description"
            />
          </div>

          <div class="col-12 mt-2 text-end">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeKeyActivity(i)" *ngIf="keyActivities.length > 1">
              Remove
            </button>
          </div>
        </div>

          <div class="text-end">
            <button type="button" class="btn btn-primary btn-sm" (click)="addKeyActivity()">
              + Add Activity
            </button>
          </div>
        </div>


        <!-- Row 3: Dimension and Entity -->
        <div class="row mb-3">
          <div class="col-md-6 mb-3 mb-md-0">
            <label for="dimensionId" class="form-label">
              Audit Items<span class="text-danger">*</span>
            </label>
            <p-select
              inputId="auditItemId"
              [options]="auditService.auditItemsLookup()"
              optionLabel="name"
              optionValue="id"
              formControlName="auditItemId"
              placeholder="Choose Audit Item"
              styleClass="w-100"
              [showClear]="true">
            </p-select>
            <small
              class="text-danger"
              *ngIf="auditForm.get('auditItemId')?.invalid && auditForm.get('auditItemId')?.touched"
            >
             Audit Items is required
            </small>
          </div>  
          <div class="col-md-6 mb-3 mb-md-0">
            <label for="resources" class="form-label">Recources<span class="text-danger">*</span></label>
            <p-multiSelect
              class="w-100"
              formControlName="resources"
              [options]="auditService.auditItemsRecourcesLookup()"
              optionLabel="name"
              optionValue="id"
              placeholder="Select Resources">
            </p-multiSelect>
            <small
              class="text-danger"
              *ngIf="auditForm.get('resources')?.invalid && auditForm.get('resources')?.touched"
            >
             Resources is required
            </small>
          </div>       
        </div>

        <!-- Row 4: Risks and Priority -->
        <div class="row mb-3">
          
            <div class="col-6 mt-3">
          <div class="c-formControl">
            <label class="title-control d-block">Start Date<span class="text-danger">*</span></label>
            <p-datepicker
              formControlName="startDate"
              showIcon="true"
              placeholder="From"
              class="w-100"
            ></p-datepicker>
          </div>
        </div>
          <div class="col-6 mt-3">
          <div class="c-formControl">
            <label class="title-control d-block">End Date<span class="text-danger">*</span></label>
            <p-datepicker
              formControlName="endDate"
              showIcon="true"
              placeholder="To"
              class="w-100"
            ></p-datepicker>
          </div>
        </div>
          
        </div>       

        <!-- Buttons -->
        <div class="row my-4">
            @if (!showEdit) {

                <div class="col-12 d-flex justify-content-center gap-2">
                    <button
                    type="button"
                    pButton
                    label="Save"
                    icon="pi pi-send"
                    class="btn btn-primary"
                    [disabled]="auditForm.invalid"
                    (click)="onSave()">
                </button>           
            </div>
        }@else {

            <div class="col-12 d-flex justify-content-center gap-2">
                <button
                type="button"
                pButton
                label="Edit"
                icon="pi pi-send"
                class="btn btn-primary"
                [disabled]="auditForm.invalid"
                (click)="onEdit()">
            </button>  
             <button
              type="button"
              pButton
              label="Cancel"
              icon="pi pi-times"
              class="p-button-secondary"
              (click)="onCancel()">
            </button>         
        </div>
    }
    </div>
      </form>      
      <app-audit-table>
          <ng-template #actionTemplate let-row>
                    <div ngbDropdown container="body" class="d-inline-block" dropdown>
                    <button
                        type="button"
                        class="list-dropdown"
                        id="dropdownBasic1"
                        ngbDropdownToggle
                    >
                         <img class="mx-1" src="../../../../../assets/images/linesGroup.svg" alt="">
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    
                    <button ngbDropdownItem (click)="deleteAuditItemSchadule(row.id,row.auditItemTitle)">
                    <img class="mx-1" src="../../../../../assets/images/trash.svg" alt="">
                     Delete audit Frequency item
                    </button>
                    <button ngbDropdownItem  (click)="setFormData(row)">
                    <img class="mx-1" src="../../../../../assets/images/pincel.svg" alt="">
                         Edit audit item 
                    </button>                     
                </div>
                </div>
            </ng-template>
      </app-audit-table>
    </div>
  </div>
</div>
