.list-dropdown {
  background-color: #e3f2fd;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  color: #1976d2;
  transition: all 0.2s ease;
  font-size: 12px;
  font-weight: 700;

  &:hover {
    background: #bbdefb;
    transform: translateY(-1px);
  }

  i {
    font-size: 16px;
  }
}
.list-dropdown::after {
  display: none;
}