
          <div class="container filter-card">
      <div class="filter-body">
        <h6 class="filter-title">Add Evidence Level Manamgement</h6>
    <form [formGroup]="evForm">
        <div class="row g-3 filter-row-top">
         
         <div class="col-6">
             <label for="categoryName" class="font-medium d-block">
                Name<span class="text-danger">*</span>
            </label>
            <div class="search-wrapper">
          <div class="input-group">
            <input type="text" class="form-control filter-search-input" 
                    style="height:45px"
                   placeholder="Enter Name"  
                   formControlName="name"                  
                   #searchValue
                  />                   
          </div>
        </div>
        <small class="text-danger" *ngIf="evForm.get('name')?.invalid && evForm.get('name')?.touched">
          Name is required
        </small>
          </div>
                   
         <div class="col-6">
             <label for="categoryName" class="font-medium  d-block">
                Describtion<span class="text-danger">*</span>
            </label>
            <div class="search-wrapper">
          <div class="input-group">
            <textarea
                id="Describtion"
                pInputTextarea
                class="w-100"
                rows="4"
                formControlName="describtion"
                placeholder="Enter Describtion">
            </textarea>            
          </div>
        </div>
        <small class="text-danger" *ngIf="evForm.get('describtion')?.invalid && evForm.get('describtion')?.touched">
          Describtion Percent is required
        </small>
          </div>
                   

          <div class="filter-actions d-flex justify-content-center">         
          <button class="btn btnApply btn-sm filter-btn buttonFix justify-content-center" (click)="onApply()">
             <img src="../../../../../../assets/images/SendEmail.svg" alt="" class="sendEmailImg">
            Save
          </button>         
        </div>
      </div>
        </form>
    </div>