input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
p-select.ng-touched.ng-invalid,
p-datepicker.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

p-datepicker {
  width: 100%;
}
