input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
p-select.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

p-datepicker {
  width: 100%;
}

.inputs-wrapper {
  border: 1px solid #cbd5e1;
  padding: 10px;
  border-radius: 6px;
}
