<form [formGroup]="formGroup" class="p-fluid p-formgrid p-grid p-m-3">
  <!-- Year -->
  <div class="p-field p-col-6 mb-3">
    <label for="year">Year*</label>
    <p-datepicker
      formControlName="year"
      view="year"
      dateFormat="yy"
      placeholder="Select Year"
      [showIcon]="true"
      appendTo="body"
      class="w-100"
    ></p-datepicker>
  </div>

  <!-- Annual Leaves -->
  <div class="p-field p-col-6 mb-3">
    <label for="annualLeaves">Annual Leaves*</label>
    <p-inputNumber
      placeholder="Enter the number"
      formControlName="annualLeaves"
      [min]="0"
      inputId="annualLeaves"
      class="w-100"
    ></p-inputNumber>
  </div>

  <!-- Sick Leaves -->
  <div class="p-field p-col-6 mb-3">
    <label for="sickLeaves">Sick Leaves*</label>
    <p-inputNumber
      placeholder="Enter the number"
      formControlName="sickLeaves"
      [min]="0"
      inputId="sickLeaves"
      class="w-100"
    ></p-inputNumber>
  </div>

  <!-- Training -->
  <div class="p-field p-col-6 mb-3">
    <label for="training">Training*</label>
    <p-inputNumber
      placeholder="Enter the number"
      formControlName="training"
      [min]="0"
      inputId="training"
      class="w-100"
    ></p-inputNumber>
  </div>

  <!-- Managerial Tasks -->
  <div class="p-field p-col-6 mb-3">
    <label for="managerialTasks">Managerial Tasks*</label>
    <p-inputNumber
      placeholder="Enter the number"
      formControlName="managerialTasks"
      [min]="0"
      inputId="managerialTasks"
      class="w-100"
    ></p-inputNumber>
  </div>

  <!-- Other Activities -->
  <div class="p-field p-col-6 mb-3">
    <label for="otherActivities">Other Activities*</label>
    <p-inputNumber
      placeholder="Enter the number"
      formControlName="otherActivities"
      [min]="0"
      inputId="otherActivities"
      class="w-100"
    ></p-inputNumber>
  </div>

  <!-- Action Buttons -->
  <div class="p-col-12 d-flex justify-content-center gap-3 m-4">
    <button
      [disabled]="!formGroup.valid"
      type="button"
      (click)="onSave()"
      class="btn btn-primary"
    >
      <i class="pi pi-send"></i> Save
    </button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">
      <i class="pi pi-times"></i> Cancel
    </button>
  </div>
</form>
