<app-header
  [isSwitchView]="switchView"
  [title]="'Key Processes'"
  [showFilteration]="showFilteration"
  [showActions]="showActions"
  (filtersChange)="onFiltersChange($event)"
  (switchView)="switchview($event)"
></app-header>

<div class="container-list">
  <div class="content-cards">
    <h4 class="title">Key Processes</h4>

    @if (switchView) { @defer (when switchView) {
    <app-hierarchy [filters]="filters" />
    } } @else { @defer (when !switchView) {
    <app-list [filters]="filters" />
    } }
  </div>
</div>
