<div class="toolbar-container">
      <div class="toolbar-left">
        <span class="risks-badge">
          Audit Cycle <span class="risks-count">{{ auditService.auditItems().length }}</span>
        </span> 
      </div>
      
      <div class="toolbar-right">
          <button class="btn btn-outline-secondary btn-sm action-button">
             <img src="../../../../../../assets/images/exportBtn.svg" alt="">   
             Export
            </button>
            <button class="btn btn-outline-secondary btn-sm icon-button">
            <img src="../../../../../../assets/images/linesMiddle.svg" alt="">   
            
        </button>
        <button class="btn btn-outline-secondary btn-sm icon-button">
            <img src="../../../../../../assets/images/linesLeft.svg" alt="">       
        </button>        
      </div>
    </div>