<app-header
  [isSwitchView]="switchView"
  [title]="'Organizations'"
  [showFilteration]="showFilteration"
  [showActions]="showActions"
  [dropdownList]="dropdownList"
  (search)="search($event)"
  (switchView)="switchview($event)"
></app-header>

<div class="container-organizations">
  <div class="content-cards">
    <h4 class="title">Organizations</h4>

    @if (switchView) { @defer (when switchView) {
    <app-board></app-board>
    } } @else { @defer (when !switchView) {
    <app-list></app-list>
    } }
  </div>
</div>
